* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #0f0f0f;
  color: white;
  max-width: 1500px;
  padding: 5px 10px 70px 10px;
  margin: auto;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-all-btn {
  background-color: red;
  color: #fff;
  padding: 8px 32px 10px 32px;
  border: none;
  border-radius: 5px;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
#clear-all-btn:hover {
  cursor: pointer;
  background-color: #ff2525;
}

h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

#options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #474747;
}

.liked-videos-icon-count-container,
.subscribed-channels-icon-count-container,
.playlists-icon-count-container,
.import-export-icon-container {
  border: 2px solid #cccccc3a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 5px 13px 5px;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  user-select: none;
}

.liked-videos-icon-count-container:hover {
  cursor: pointer;
  background-color: #64aee933;
  transition: all 0.2s ease;
}
.subscribed-channels-icon-count-container:hover {
  cursor: pointer;
  background-color: #ff000045;
  transition: all 0.2s ease;
}
.playlists-icon-count-container:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #ffa50033;
}
.import-export-icon-container:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #80008069;
}

#liked-videos-icon,
#subscribed-channels-icon,
#playlists-icon,
#import-export-icon {
  padding-left: 5px;
}

.selected-liked-videos-icon-count-container {
  border-color: #008cff;
  background-color: #64aee933;
}
.selected-subscribed-channels-icon-count-container {
  border-color: #ff0000;
  background-color: #ff000045;
}
.selected-playlists-icon-count-container {
  border-color: #ffa500;
  background-color: #ffa50033;
}
.selected-import-export-icon-container {
  border-color: #ff00ff;
  background-color: #80008069;
}

#dashboard-container {
  text-align: center;
  font-size: 24px;
  padding: 50px;
  background-color: #181818;
  border: 1px solid #343434;
  margin-top: 20px;
  border-radius: 5px;
  display: none;
}
#liked-videos-container,
#subscribed-channels-container,
#playlists-container,
#import-export-container {
  display: none;
}

#liked-videos-count,
#subscribed-channels-count,
#playlists-count {
  font-weight: 600;
}

.no-video-or-channel-message {
  text-align: center;
  font-size: 24px;
  padding: 50px;
  background-color: #181818;
  border: 1px solid #343434;
  margin-top: 10px;
  border-radius: 5px;
  grid-column: 1/6;
}

.youtube {
  text-decoration: 1px underline #ff2149;
  color: #ff0733;
  margin: 0 2px;
  text-underline-offset: 5px;
}
.youtube:hover {
  color: #ff2149;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000054;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 220px;
  z-index: 100;
  backdrop-filter: blur(3px);
  transition: all 0.2s ease;
}

.modal {
  background: #383838;
  color: #e4e4e4;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 16px 20px 16px;
  border-radius: 10px;
}

.modal-heading {
  font-size: 24px;
  font-weight: 700;
  padding: 5px 5px 8px 5px;
  border-bottom: 1px solid #4a4a4a;
}
.modal-buttons-container {
  display: flex;
  gap: 12px;
}
.modal-buttons-container button {
  padding: 9px 20px 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
}

.modal-remove-btn,
.modal-unsubscribe-btn,
.modal-remove-playlist-btn,
.modal-remove-video-from-playlist-btn,
.modal-clear-all-btn {
  background-color: #ff4646;
}
.modal-remove-btn:hover,
.modal-unsubscribe-btn:hover,
.modal-remove-playlist-btn:hover,
.modal-remove-video-from-playlist-btn:hover,
.modal-clear-all-btn:hover {
  background-color: #ff3333;
}
.modal-cancel-btn {
  background-color: #7e7e7e;
}
.modal-cancel-btn:hover {
  background-color: #757575;
}
.modal-cancel-btn:disabled {
  cursor: not-allowed;
}

.modal-clear-all-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-loader {
  width: 18px;
}

/* Toast */

.toast-message {
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/* import export */
#import-export-container {
  flex-direction: row;
  gap: 12px;
  margin-top: 20px;
}

#import-container,
#export-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 280px;
  border-radius: 5px;
  border: 2px solid #333;
}
#import-container:hover,
#export-container:hover {
  background-color: #181818;
}

#import-file-input {
  position: absolute;
  opacity: 0;
}

#import-file-label {
  display: flex;
  border: 1px solid #595959;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

#import-file-label-text {
  background-color: #595959;
  color: #c9c9c9;
  text-align: center;
  padding: 8px 20px 11px 20px;
}

#import-file-name-display {
  color: #c9c9c9;
  padding: 8px 8px 8px 12px;
  text-align: left;
  width: 320px;
}

#import-msg {
  text-align: left;
  margin-bottom: -8px;
  color: red;
  font-size: 16px;
  width: 460px;
  font-weight: 500;
}

#export-file-name {
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 500;
  margin-top: -22px;
  text-underline-offset: 4px;
  text-decoration: 1px underline #777777;
}

#export-btn,
#import-btn {
  color: white;
  background-color: #d41ed4;
  padding: 8px 32px;
  border: 2px solid #800080;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.2px;
  box-shadow: 0 4px #800080;
  transition: all 0.2s ease;
}
#import-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

#export-btn:hover,
#import-btn:hover {
  cursor: pointer;
  background-color: #bb2ebb;
}

#export-btn:active,
#import-btn:active {
  box-shadow: none;
  transform: translateY(3px);
  transition: all 0.2s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.import-loader {
  animation: rotate 2s linear infinite;
}

.import-modal-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 15px;
}

.modal-reload-btn {
  background-color: #30c0c6;
  color: black;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 14px 10px 14px;
  border-radius: 4px;
  border: none;
  transition: all 0.2s ease;
}
.modal-reload-btn:hover {
  cursor: pointer;
  background-color: #30c1c6e7;
}

.counter {
  font-weight: 500;
  color: #30c0c6;
}

.modal-message {
  margin-top: -2px;
  font-size: 15px;
  padding: 0 5px 8px 5px;
  border-bottom: 1px solid #515151;
}

/* License */
#license-key-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  margin-top: 20px;
}

.license-management-selection-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.buy-license-key,
.i-have-license-key-btn {
  background-color: #282828;
  color: white;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  user-select: none;
  padding: 10px 40px 14px 40px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px #909090a1;
}
.buy-license-key:hover,
.i-have-license-key-btn:hover {
  cursor: pointer;
  background-color: #343434;
  transition: all 0.1s ease-in-out;
}
.buy-license-key:active,
.i-have-license-key-btn:active {
  box-shadow: none;
  transform: translateY(3px);
  transition: all 0.2s ease;
}

#arrow {
  transition: transform 0.2s ease;
  background: #585858;
  padding: 4px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.buy-license-key:hover #arrow {
  transform: rotate(-30deg);
  transition: transform 0.2s ease;
}

.license-key-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #303030;
  padding: 20px;
}

.license-key-input {
  font-size: 18px;
  outline: none;
  border: none;
  width: 95%;
  border-radius: 5px;
  padding: 8px 10px;
}

.license-key-submit-btn {
  font-size: 20px;
  background-color: #1372c0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 8px;
}
.license-key-submit-btn:hover {
  cursor: pointer;
  background-color: #157ed4;
}
.license-key-submit-btn:disabled {
  background-color: #1f5583;
  cursor: not-allowed;
}

/* Initial Modal */
#initial-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000054;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 180px;
  z-index: 100;
  backdrop-filter: blur(3px);
  transition: all 0.1s ease-in-out;
}

#initial-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.initial-modal-heading {
  font-size: 28px;
  font-weight: 500;
}

.bg {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--base-color);
  --base-color: #212121;
  /*use your base color*/
}

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  background-color: var(--base-color);
}

.loader::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(
      circle 8px at 18px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 18px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 0px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 36px 18px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 18px 36px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 5px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 5px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 30px 30px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 5px 30px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 4px at 5px 5px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

.loader::after {
  content: "";
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 0px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 24px 12px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 12px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 3px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 20px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 20px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 2.5px at 3px 3px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

/*  */
