* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #0f0f0f;
  color: white;
  max-width: 1500px;
  padding: 5px 10px 80px 10px;
  margin: auto;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  overflow-y: scroll;
}

h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

#options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #474747;
}

.liked-videos-icon-count-container,
.subscribed-channels-icon-count-container,
.playlists-icon-count-container,
.import-export-icon-container {
  border: 2px solid #cccccc3a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 5px 13px 5px;
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  user-select: none;
}

.liked-videos-icon-count-container:hover {
  cursor: pointer;
  background-color: #64aee933;
  transition: all 0.2s ease;
}
.subscribed-channels-icon-count-container:hover {
  cursor: pointer;
  background-color: #ff000045;
  transition: all 0.2s ease;
}
.playlists-icon-count-container:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #ffa50033;
}
.import-export-icon-container:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #80008069;
}

#liked-videos-icon,
#subscribed-channels-icon,
#playlists-icon,
#import-export-icon {
  padding-left: 5px;
}

.selected-liked-videos-icon-count-container {
  border-color: #008cff;
  background-color: #64aee933;
}
.selected-subscribed-channels-icon-count-container {
  border-color: #ff0000;
  background-color: #ff000045;
}
.selected-playlists-icon-count-container {
  border-color: #ffa500;
  background-color: #ffa50033;
}
.selected-import-export-icon-container {
  border-color: #ff00ff;
  background-color: #80008069;
}

#dashboard-container {
  text-align: center;
  font-size: 24px;
  padding: 50px;
  background-color: #181818;
  border: 1px solid #343434;
  margin-top: 20px;
  border-radius: 5px;
  display: none;
}
#liked-videos-container,
#subscribed-channels-container,
#playlists-container,
#import-export-container {
  display: none;
}

#liked-videos-count,
#subscribed-channels-count,
#playlists-count {
  font-weight: 600;
}

.no-video-or-channel-message {
  text-align: center;
  font-size: 24px;
  padding: 50px;
  background-color: #181818;
  border: 1px solid #343434;
  margin-top: 10px;
  border-radius: 5px;
  grid-column: 1/6;
}

.youtube {
  text-decoration: 1px underline #ff2149;
  color: #ff0733;
  margin: 0 2px;
  text-underline-offset: 5px;
}
.youtube:hover {
  color: #ff2149;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000054;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 220px;
  z-index: 100;
  backdrop-filter: blur(3px);
  transition: all 0.2s ease;
}

.modal {
  background: #383838;
  color: #e4e4e4;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 16px 20px 20px;
  border-radius: 10px;
}

.modal-heading {
  font-size: 24px;
  font-weight: 700;
  padding: 5px 5px 8px 5px;
  border-bottom: 1px solid #4a4a4a;
}
.modal-buttons-container {
  display: flex;
  gap: 20px;
}
.modal-buttons-container button {
  padding: 8px 14px 10px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
}

.modal-remove-btn,
.modal-unsubscribe-btn,
.modal-remove-playlist-btn,
.modal-remove-video-from-playlist-btn {
  background-color: #ff4646;
}
.modal-remove-btn:hover,
.modal-unsubscribe-btn:hover,
.modal-remove-playlist-btn:hover,
.modal-remove-video-from-playlist-btn:hover {
  background-color: #ff3333;
}
.modal-cancel-btn {
  background-color: #7e7e7e;
}
.modal-cancel-btn:hover {
  background-color: #757575;
}

/* Toast */

.toast-message {
  font-family: "Segoe UI", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/* import export */
#import-export-container {
  flex-direction: row;
  gap: 12px;
  margin-top: 20px;
}

#import-container,
#export-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 280px;
  border-radius: 5px;
  border: 2px solid #333;
}
#import-container:hover,
#export-container:hover {
  background-color: #181818;
}

#import-file-input {
  position: absolute;
  opacity: 0;
}

#import-file-label {
  display: flex;
  border: 1px solid #595959;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

#import-file-label-text {
  background-color: #595959;
  color: #c9c9c9;
  text-align: center;
  padding: 8px 20px 11px 20px;
}

#import-file-name-display {
  color: #c9c9c9;
  padding: 8px 8px 8px 12px;
  text-align: left;
  width: 320px;
}

#import-msg {
  text-align: left;
  margin-bottom: -8px;
  color: red;
  font-size: 16px;
  width: 460px;
  font-weight: 500;
}

#export-file-name {
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 500;
  margin-top: -22px;
  text-underline-offset: 4px;
  text-decoration: 1px underline #777777;
}

#export-btn,
#import-btn {
  color: white;
  background-color: #d41ed4;
  padding: 8px 32px;
  border: 2px solid #800080;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.2px;
  box-shadow: 0 4px #800080;
  transition: all 0.2s ease;
}
#import-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

#export-btn:hover,
#import-btn:hover {
  cursor: pointer;
  background-color: #bb2ebb;
}

#export-btn:active,
#import-btn:active {
  box-shadow: none;
  transform: translateY(3px);
  transition: all 0.2s ease;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.import-loader {
  animation: rotate 2s linear infinite;
}
