#playlists-main-container {
  display: flex;
  flex-direction: column;
}

#playlists-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#playlist-selection-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}

.youtube-playlists-btn,
.local-playlists-btn {
  font-size: 20px;
  width: 100%;
  padding: 14px;
  font-weight: 600;
  border: 2px solid #cccccc3a;
  border-radius: 5px;
  background: #1a1a1a;
  color: #bbb;
}
.youtube-playlists-btn:hover,
.local-playlists-btn:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #ffa50024;
}

.playlist-type-selected {
  border-color: #a56b00;
  background-color: #ffa50024;
  color: #fff;
}

.youtube-playlist,
.local-playlist {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #161616;
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
}
.youtube-playlist:hover,
.local-playlist:hover {
  background-color: #d5d5d51a;
}
.youtube-playlist:hover .youtube-playlist-image,
.local-playlist:hover .local-playlist-image {
  opacity: 0.9;
}

.youtube-playlist-image,
.local-playlist-image {
  width: 100%;
  border-radius: 4px;
}

.youtube-playlist-container-1,
.local-playlist-container-1 {
  position: relative;
}

.youtube-playlist-container-2,
.local-playlist-container-2 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 3px 0 5px 0;
  width: 190px;
}

.youtube-playlist-name,
.local-playlist-name {
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.youtube-playlist-channelname {
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.youtube-playlist-videos-count,
.local-playlist-videos-count {
  display: flex;
  gap: 2px;
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: #00000099;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.2px;
  align-items: center;
}

.remove-youtube-playlist-btn,
.remove-local-playlist-btn {
  background-color: #252525;
  color: #dddddd;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px 8px 16px;
  border: 1px solid #cccccc30;
  border-radius: 4px;
}
.remove-youtube-playlist-btn:hover,
.remove-local-playlist-btn:hover {
  cursor: pointer;
  background-color: #801a1a9e;
}
