#subscriptions-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.subscriptions-heading-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

#subscriptions-heading-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#subscriptions-filter-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.subscriptions-filter-btn {
  width: 100px;
  padding-block: 6px;
  background-color: #2a2a2a;
  color: #aaaaaa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.subscriptions-filter-btn:hover {
  background-color: #3a3a3a;
  color: #ffffff;
}

.subscription-filter-selected {
  background-color: #ffffff;
  color: #000000;
}

.subscription-filter-selected:hover {
  background-color: #ffffff;
  color: #000000;
}

.subscriptions-heading-icon {
  padding: 5px;
  background-color: #ffffff1a;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.subscriptions-heading-icon:hover {
  background-color: #ffffff33;
}

.subscriptions-heading-icon.rotating {
  animation: rotate 1s linear infinite;
}

.subscriptions-message {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 400;
}

.subscribed-channel-video {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.subscribed-channel-video:hover {
  background-color: #ffffff1a;
  cursor: pointer;
}

.subscribed-channel-video-thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.subscribed-channel-video-thumbnail:hover {
  opacity: 0.8;
  transition: all 0.2s ease;
}

.subscribed-channel-shorts-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.subscribed-channel-video-title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 300px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subscribed-channel-shorts-title {
  color: #d4d4d4;
  font-size: 16px;
  font-weight: 600;
}

.subscribed-channel-video-title-channel-name-uploaded-at-container {
  background: #1c1c1c87;
  padding: 5px 10px 10px 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.subscribed-channel-video-channel-name-uploaded-at-container {
  font-size: 14px;
  font-weight: 500;
  color: #aaaaaa;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.subscribed-channel-video-uploaded-at {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
