#above-the-fold .YtLikeButtonViewModelHost {
  display: none;
}
#above-the-fold .ytSegmentedLikeDislikeButtonViewModelSegmentedButtonsWrapper {
  display: none;
}
.ytLikeButtonViewModelHost {
  display: none;
}
#wrapper
  yt-flexible-actions-view-model
  *:not(#wrapper yt-flexible-actions-view-model) {
  visibility: hidden;
}

#end-actions .ytd-playlist-panel-renderer {
  display: none;
}

/* Like/UnLike button */
#custom-nologin-yt-like-btn {
  display: flex;
  align-items: center;
  background-color: #272727;
  padding: 6px 12px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 1px solid #525252;
}
#custom-nologin-yt-like-btn:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

#custom-nologin-yt-like-btn-icon {
  height: 24px;
}

#custom-nologin-yt-like-count {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}

div[data-custom-no-login-yt-btn-icon-liked="initial-liked"] {
  margin-right: -11px;
}
div[data-custom-no-login-yt-btn-icon-liked="initial-not-liked"] {
  margin-right: 8px;
}

div[data-custom-no-login-yt-btn-icon-liked="liked"] {
  margin-right: 8px;
}
div[data-custom-no-login-yt-btn-icon-liked="not-liked"] {
  margin-right: 8px;
}

/* Subscribe button */
#owner #subscribe-button {
  display: none;
}

.custom-nologin-yt-subscribe-btn-video-page {
  background-color: #f1f1f1;
  color: #0f0f0f;
  text-align: center;
  padding: 8px 16px 10px 16px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  height: 16px;
  position: relative;
}
.custom-nologin-yt-subscribe-btn-channel-page {
  background-color: #f1f1f1;
  color: #0f0f0f;
  text-align: center;
  padding: 8px 16px 10px 16px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  height: 16px;
  position: relative;
}

.custom-nologin-yt-subscribe-btn-video-page:hover,
.custom-nologin-yt-subscribe-btn-channel-page:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.custom-nologin-yt-channel-subscribed {
  background-color: #272727;
  color: #f1f1f1;
}
.custom-nologin-yt-channel-subscribed:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#custom-nologin-yt-subscribe-dotlottie-canvas {
  width: fit-content;
  height: 16px;
}

.custom-nologin-yt-channel-subscribed-animate-bg {
  background-color: #f57 !important;
}

/* Playlist */
.custom-nologin-yt-save-playlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  background-color: #3f3f3f;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 13px;
  margin: 4px;
  border: 1px solid #6b6b6b;
  border-radius: 16px;
}

.custom-nologin-yt-save-playlist-btn:hover {
  cursor: pointer;
  background-color: #313131;
}
