:root {
  --font-family: Roboto, Arial, sans-serif;
  --bg-primary: #ffffff1a;
  --bg-primary-hover: #434343;
  --bg-secondary: #ededed;
  --bg-secondary-hover: #d5d5d5;
  /*  */
  --playlist-button-bg: #ffffff;
  --playlist-button-bg-hover: #e6e6e6;
}

segmented-like-dislike-button-view-model {
  display: none !important;
}

#subscribe-button {
  display: none !important;
}

#wrapper #contentContainer #page-header button[aria-label="Subscribe"] {
  display: none !important;
}

#page-manager ytd-browse[page-subtype='playlist'] yt-page-header-renderer.page-header-sidebar .ytPageHeaderViewModelContent yt-flexible-actions-view-model {
  display: none !important;
}

#above-the-fold #top-row #actions ytd-menu-renderer button[aria-label="More actions"] {
  display: none !important;
}

#above-the-fold #top-row #actions ytd-menu-renderer #flexible-item-buttons button[aria-label="Save to playlist"] {
  display: none !important;
}

/*  */

#ltm-toast-root {
  background-color: inherit;
  font-size: medium;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family);
  z-index: 2147483647;
}

/*  */

#custom-ltm-like-button {
  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--bg-primary);
  height: 100%;
  padding-inline: 14px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family);
}

#custom-ltm-like-button:hover {
  background: var(--bg-primary-hover);
}

/*  */

#custom-ltm-subscribe-button {
  display: flex;
  align-items: center;
  background: var(--bg-secondary);
  color: black;
  font-family: var(--font-family);
  border-top: 1px solid var(--bg-primary-hover);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 18px;
  margin-right: 8px;
  border-radius: 20px;
  cursor: pointer;
}

#custom-ltm-subscribe-button:hover {
  background: var(--bg-secondary-hover);
}

#custom-ltm-subscribed-button {
  display: flex;
  align-items: center;
  background: var(--bg-primary);
  color: #ececec;
  font-family: var(--font-family);
  border-top: 1px solid var(--bg-primary-hover);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 18px;
  margin-right: 8px;
  border-radius: 20px;
  cursor: pointer;
}

#custom-ltm-subscribed-button:hover {
  background: var(--bg-primary-hover);
}

/*  */

#custom-ltm-save-playlist-button {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  background: var(--playlist-button-bg);
  border-radius: 25px;
  padding: 4px 5px 5px 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

#custom-ltm-save-playlist-button:hover {
  background: var(--playlist-button-bg-hover);
}

#custom-ltm-save-playlist-button-icon {
  margin-top: 4px;
}

/*  */

#custom-ltm-add-to-local-playlist-button {
  display: flex;
  align-items: center;
  gap: 2px;
  background: var(--bg-primary);
  height: 100%;
  padding: 4px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family);
}

#custom-ltm-add-to-local-playlist-button span {
  margin-top: 2px;
}

#custom-ltm-add-to-local-playlist-button:hover {
  background: var(--bg-primary-hover);
}