segmented-like-dislike-button-view-model {
  display: none !important;
}

#subscribe-button {
  display: none !important;
}

#custom-ltm-like-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #ffffff1a;
  height: 100%;
  padding-inline: 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

#custom-ltm-like-btn:hover {
  background: #434343;
}

#ltm-toast-root {
  background-color: inherit;
  font-size: medium;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  z-index: 2147483647;
}

#custom-ltm-subscribe-btn {
  display: flex;
  align-items: center;
  background: #ededed;
  color: black;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

#custom-ltm-subscribe-btn:hover {
  background: #d5d5d5;
}

#custom-ltm-subscribed-btn {
  display: flex;
  align-items: center;
  background: #ffffff1a;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

#custom-ltm-subscribed-btn:hover {
  background: #434343;
}